# Ignore everything
*

# But not these files...
!*.py
!*.glsl
!*.md
!*.drawio


# ...even if they are in subdirectories
!interface/
!core/
!gui/
!shaders/
!diagrams/


# don't ignore special files
!requirements.txt
!.gitignore