# Ignore everything
*

# But not these files...
!*.py
!*.glsl
!*.md


# ...even if they are in subdirectories
!interface/
!core/
!gui/
!shaders/


# don't ignore special files
!requirements.txt
!.gitignore